body { 
  margin: 10px;
  padding: 10px;
}

#gameCanvas {
  padding: 10px;
  border: 1px dashed;
  outline: 2px solid #6374AB;
  background-image: url('../img/Background_with_emily.bmp');
  background-repeat: no-repeat;
float: left;
}


#emilymad1 {
display: none;
position absolute;
top: 50px;
}

.showEmily {
  display: block;
}

#flash {
position: absolute;
top: 0px;
right: 0px;
float: right;
}
